.App {
  display: inline-grid;
	width: 100%;
	height: 100%;
}

.dark {
	color: white;
	background-color: black;
}

.app-body {
	margin-bottom: 80px;
	width: 50%;
	justify-self: center;
}

.header {
	border-bottom: solid;
	display: inline-grid;
	justify-content: center;
	min-height: 40px;
	padding: 10px;
	text-align: center;
	font-size: 3em;
}

.subheader {
	font-size: 0.5em;
}
.footer {
  position: fixed;
  height: 50px;
  background-color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
	color: white;
	text-align: center;
}

.title {
	font-weight: bold;
}

.strong {
	font-weight: bold;
}

.medium {
	font-weight: normal;	
	font-size: 1.5em;
}

.section {
	font-size: 1.75em;
	padding: 10px 20px 5px 20px;
}

.inner-section {
	display: flex;
	flex-direction: column;
}

.body {
	text-align: justify;
	text-justify: inter-word;
	padding: 5px 20px 10px 20px;
	font-size: 1em;
}

.company-name {
	font-weight: normal;
	font-size: 1.5em;
}

.job-title {
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
}

.employed-dates {
	font-weight: normal;
	font-size: 1em;
}

.item {
	font-size: 1em;
	font-weight: normal;
	padding: 3px;
}

.myskills {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	columns: 3;
	flex-wrap: wrap;
}

.myskills > div {
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

form > label {
	font-size: 1.25em;
}

form > input {
	margin-bottom: 10px;
	padding: 5px;
}

form > button {
	margin-top: 10px;
	width: 20%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 10px;
}

nav > div {
	cursor: pointer;
}
